SFParkADFTools/WebServiceConnection/src/com/sfmta/websvcs/applyratexml/OdiInvoke.wsdl

<wsdl:definitions
    
     targetNamespace="xmlns.oracle.com/odi/OdiInvoke/"
     xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:odi="xmlns.oracle.com/odi/OdiInvoke/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:documentation>OdiInvoke</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns="xmlns.oracle.com/odi/OdiInvoke/" attributeFormDefault="qualified" elementFormDefault="qualified"
             targetNamespace="xmlns.oracle.com/odi/OdiInvoke/">
            <xsd:element name="invokeScenarioResponse" type="CommandResultType"/>
            <xsd:element name="invokeScenarioRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="RepositoryConnection" type="RepositoryConnectionType"/>
                        <xsd:element name="Command" type="ScenarioCommandType"/>
                        <xsd:element name="Agent" type="AgentType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="RepositoryConnectionType">
                <xsd:all>
                    <xsd:element minOccurs="0" name="JdbcDriver" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="JdbcUrl" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="JdbcUser" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="JdbcPassword" type="xsd:string"/>
                    <xsd:element name="OdiUser" type="xsd:string"/>
                    <xsd:element name="OdiPassword" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="WorkRepository" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ScenarioCommandType">
                <xsd:sequence>
                    <xsd:element name="ScenName" type="xsd:string"/>
                    <xsd:element name="ScenVersion" type="xsd:string"/>
                    <xsd:element name="Context" type="xsd:string"/>
                    <xsd:element default="5" minOccurs="0" name="LogLevel" type="xsd:int"/>
                    <xsd:element default="1" minOccurs="0" name="SyncMode" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="SessionName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Keywords" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Variables" type="VariableType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VariableType">
                <xsd:all>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Value" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="CommandResultType">
                <xsd:all>
                    <xsd:element name="Ok" type="xsd:boolean"/>
                    <xsd:element name="SessionNumber" type="xsd:string"/>
                    <xsd:element name="ErrorMessage" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="AgentType">
                <xsd:all>
                    <xsd:element default="localhost" name="Host" type="xsd:string"/>
                    <xsd:element default="20910" name="Port" type="xsd:int"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ScenarioType">
                <xsd:all>
                    <xsd:element name="ScenName" type="xsd:string"/>
                    <xsd:element name="ScenVersion" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ContextType">
                <xsd:all>
                    <xsd:element name="ContextName" type="xsd:string"/>
                    <xsd:element name="ContextCode" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="invokeScenarioRequest">
        <wsdl:part name="part1" element="odi:invokeScenarioRequest"/>
    </wsdl:message>
    <wsdl:message name="invokeScenarioResponse">
        <wsdl:part name="part1" element="odi:invokeScenarioResponse"/>
    </wsdl:message>
    <wsdl:message name="invokeSessionRequest">
        <wsdl:part name="part1" element="odi:invokeSessionRequest"/>
    </wsdl:message>
    <wsdl:message name="listContextResponse">
        <wsdl:part name="part1" element="odi:listContextResponse"/>
    </wsdl:message>
    <wsdl:message name="getWebServiceVersionRequest">
        <wsdl:part name="part1" element="odi:getWebServiceVersionRequest"/>
    </wsdl:message>
    <wsdl:message name="listScenarioRequest">
        <wsdl:part name="part1" element="odi:listScenarioRequest"/>
    </wsdl:message>
    <wsdl:message name="getWebServiceVersionResponse">
        <wsdl:part name="part1" element="odi:getWebServiceVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="listScenarioResponse">
        <wsdl:part name="part1" element="odi:listScenarioResponse"/>
    </wsdl:message>
    <wsdl:message name="invokeSessionResponse">
        <wsdl:part name="part1" element="odi:invokeSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="listContextRequest">
        <wsdl:part name="part1" element="odi:listContextRequest"/>
    </wsdl:message>
    <wsdl:portType name="OdiInvokePortType">
        <wsdl:operation name="invokeScenario">
            <wsdl:input message="odi:invokeScenarioRequest" wsaw:Action="xmlns.oracle.com/odi/OdiInvoke/invokeScenario"/>
            <wsdl:output message="odi:invokeScenarioResponse" wsaw:Action="xmlns.oracle.com/odi/OdiInvoke/InvokePortType/invokeScenarioResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InvokeSOAP11Binding" type="odi:OdiInvokePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invokeScenario">
            <soap:operation style="document" soapAction="xmlns.oracle.com/odi/OdiInvoke/invokeScenario"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OdiInvoke">
        <wsdl:port name="OdiInvokeSOAP11port0" binding="odi:InvokeSOAP11Binding">
            <soap:address location="http://lnxappdev1:9704/axis2/services/OdiInvoke.OdiInvokeSOAP11port0/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
